In [ ]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import sklearn.preprocessing as pp
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE

In [ ]:
# 1: To load the data and print first 5 rows
df = pd.read_csv('multiple_linear_data.csv')
df.head()

,age,address,famsize,reason,studytime,failures,schoolsup,famsup,paid,activities,higher,internet,romantic,freetime,goout,health,absences,G1,G2,G3
0,18,U,GT3,course,2,0,yes,no,no,no,yes,no,no,3,4,3,6,25,30,30
1,17,U,GT3,course,2,0,no,yes,no,no,yes,yes,no,3,3,3,4,25,25,30
2,15,U,LE3,other,2,3,yes,no,yes,no,yes,yes,no,3,2,3,10,35,40,50
3,15,U,GT3,home,3,0,no,yes,yes,yes,yes,yes,yes,2,2,5,2,75,70,75
4,16,U,GT3,home,2,0,no,yes,yes,no,yes,no,no,3,2,5,4,30,50,50

In [ ]:
# 2: Transform categorical features into numerical features. Use either one 
# hot encoding, label encoding or any other suitable preprocessing technique.
preprocess = pp.LabelEncoder()
for column in df.columns:
  if type(df.loc[0, column]) != type(np.int64()):
    df[column] = preprocess.fit_transform(df[column])
df.head()

,age,address,famsize,reason,studytime,failures,schoolsup,famsup,paid,activities,higher,internet,romantic,freetime,goout,health,absences,G1,G2,G3
0,18,1,0,0,2,0,1,0,0,0,1,0,0,3,4,3,6,25,30,30
1,17,1,0,0,2,0,0,1,0,0,1,1,0,3,3,3,4,25,25,30
2,15,1,1,2,2,3,1,0,1,0,1,1,0,3,2,3,10,35,40,50
3,15,1,0,1,3,0,0,1,1,1,1,1,1,2,2,5,2,75,70,75
4,16,1,0,1,2,0,0,1,1,0,1,0,0,3,2,5,4,30,50,50

In [ ]:
# 3: Define X matrix (independent features) and y vector (target feature)
data_x = df.iloc[:, :19] # X matrix
data_y = df.iloc[:, 19] # y vector
data_x.head()

0    30
1    30
2    50
3    75
4    50
Name: G3, dtype: int64

In [ ]:
# 4: Train Linear Regression Model (sklearn.linear_model.LinearRegression)
model = LinearRegression()
# NOTE: realised we had to work on all of the data later, changed split to comment
# X_train, X_test, y_train, y_test = train_test_split(data_x, data_y, random_state=42, test_size=0.15)
# model.fit(X_train, y_train)
# y_predict = model.predict(X_test)

model.fit(data_x, data_y)
y_predict = model.predict(data_x)

In [ ]:
# 5: Print 'Mean Squared Error' (MSE) obtained on the same dataset
print(MSE(data_y, y_predict))

85.71253099296834